<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Group">
        <title>Dragon Bites</title>
        <link href="website.css" rel="stylesheet" type="text/css">
    </head>
    <body class="about-body">
        <h1>The Developers</h1>
    <div class="about-container">
         <img src="abigail-image.jpg" alt="Abigail" class="about-image">
        <div class="about-text">
            <h3>Abigail</h3>
        <p><strong>Product Owner</strong> of this Website</p>  
  <p><strong>Major:</strong> Software Engineering</p>  
  <p><strong>Email:</strong> <a href="mailto:aa4985@drexel.edu">aa4985@drexel.edu</a></p>  
  <p><strong>Description:</strong> I am a singer and have my music on most music platforms.</p>  
  <p><strong>Fun fact of us developers:</strong> We all live in Bentley Hall</p>
        </div>
    </div> 
    <div class="about-container">
        <img src="alisha-image.jpg" alt="Alisha" class="about-image">
        <div class="about-text">
            <h3>Alisha</h3>
  <p><strong>Major:</strong> Computer Science </p>  
  <p><strong>Email:</strong> <a href="mailto:apk67@drexel.edu">apk67@drexel.edu</a></p>  
  <p><strong>Description: I am learning how to play the guitar and I currently post music videos on social media.</strong></p>  
  <p><strong>Fun fact of us developers:</strong> We all live in Bentley Hall</p>
</body>
</html>

        </div>
    </div>

    <div class="about-container">
        <img src="kyler-image.jpg" alt="Kyler" class="about-image">
        <div class="about-text">
            <h3>Kyler</h3>
  <p><strong>Major:</strong> Computer Science </p>  
  <p><strong>Email:</strong> <a href="mailto:ktl62@drexel.edu">ktl62@drexel.edu</a></p>  
  <p><strong>Description: I like Tricking and Parkouring</strong></p>  
  <p><strong>Fun fact of us developers:</strong> We all live in Bentley Hall</p>
</body>
</html>

        </div>
    </div>
     <div class="about-container">
        <img src="riya-image.jpg" alt="Riya" class="about-image">
        <div class="about-text">
            <h3>Riya</h3>  
  <p><strong>Major:</strong> Computer Science</p>  
  <p><strong>Email:</strong> <a href="mailto:rab449@drexel.edu">rab449@drexel.edu</a></p>  
  <p><strong>Description: I obsessively watch Cricket, Tennis and F1</strong></p>  
  <p><strong>Fun fact of us developers:</strong> We all live in Bentley Hall</p>
</body>
</html>

        </div>
    </div>
</body>